.block-quote {
	display: block;
	width:800px;
	margin:auto;
	font-size:18px;
	margin-top:30px;
}

.icon-list-bottom li{
	margin-left:30px;
	margin-top:30px;
}

footer {
	padding:30px 0;
	background-color:#1c1f26;
	font-size:15px;
	color:#e3e3e3;
}

.icon-list-bottom a {
	color:#d4d4d4;
	}a:hover {
	color:#2ecc71;
}

.testmonial img {
	width:100%;
}

.touch {
	margin-top:50px;
}

.wrap-social {
	padding-bottom:50px;
}